.products {
  margin-top: 100px;
  position: absolute;
  width: 100%;
}

.filterBox {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.categoryBox {
  padding: 0%;
}

.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  margin: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.category-link:hover {
  color: tomato;
}
