.CartItemCart {
  display: flex;
  padding: 1vmax;
  height: 8vmax;
  align-items: flex-start;
  box-sizing: border-box;
}

.CartItemCart > div {
  display: flex;
  margin: 0.3vmax 1vmax;
  flex-direction: column;
}

.CartItemCart > div > a {
  color: rgba(24, 24, 24, 0.815);
  text-decoration: none;
}
.CartItemCart > div > span {
  color: rgba(24, 24, 24, 0.815);
}

.CartItemCart > div > p {
  color: tomato;
  cursor: pointer;
}

@media screen and (max-width: 6000px) {
  .CartItemCart {
    padding: 3vmax;
    height: 15vmax;
  }

  .CartItemCart > img {
    width: 10vmax;
  }

  .CartItemCart > div {
    margin: 1vmax 2vmax;
  }

  /* .CartItemCart > div > a {
    font-size: 20px;
  } */
}
