.productDetails {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  padding: 6vmax;
  display: flex;
}

.productDetails > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
}

.productDetails > div:last-child {
  align-items: flex-start;
}

.carouselIMage {
  width: 100%;
  height: 100%;
}

.details_block1 > h2 {
  color: rgb(54, 54, 54);
  font: 2000 0.6vmax cursive;
}

.details_block1 > p {
  color: rgb(54, 54, 54, 0.582);
  font: 2000 0.6vmax cursive;
}

.details_block2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 205);
  border-bottom: 1px solid rgba(0, 0, 0, 205);
  width: 70%;
  padding: 7px;
}

.details_block2 > span {
  color: rgb(54, 54, 54, 0.582);
  font: 2000 0.6vmax cursive;
}

.details_block3 {
  width: 70%;
}

.details_block3 > h1 {
  color: rgba(17, 17, 17, 0.755);
  font: 400 1.8vmax "Franklin Gothic Medium";
  margin: 1vmax 0;
}

.details_block3-1 {
  display: flex;
  align-items: center;
}

.details_block3-1-1 > Button {
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
  transition: all 0.5s;
}

.details_block3-1-1 > Button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.details_block3-1-1 > input {
  border: none;
  padding: 0.5vmax;
  width: 5vmax;
  text-align: center;
  outline: none;
  color: rgba(0, 0, 0, 0.767);
}

.details_block3-1 > Button:last-child {
  transition: all 0.5s;
  background-color: tomato;
  color: #ffffff;
  margin-left: 5px;
}

.details_block3-1 > Button:last-child:hover {
  background-color: rgb(214, 84, 61);
}

.details_block3 > p {
  border-top: 1px solid rgba(0, 0, 0, 205);
  border-bottom: 1px solid rgba(0, 0, 0, 205);
  padding: 1vmax 0;
  color: rgba(0, 0, 0, 0.651);
  margin: 1vmax 0;
}

.details_block4 {
  color: rgba(0, 0, 0, 0.534);
}

/* .submit_review {
  background-color: tomato;
  border-radius: 20px;
  margin: 1vmax 0;
  transition: all 0.5s;
  outline: none;
}

.submit_review:hover {
  background-color: rgb(197, 86, 45);
  transform: scale(1.1);
} */

.reviewHeading {
  color: #000000be;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  padding: 1vmax;
  margin: auto;
  margin-bottom: 4vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.reviews {
  display: flex;
  overflow: auto;
}

.noReviews {
  display: flex;
  font-size: 30px;
  text-align: center;
  color: red;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .productDetails {
    flex-direction: column;
    height: unset;
  }
  .productDetails > div:last-child {
    align-items: center;
  }
  .details_block1 > h2 {
    font-size: 2.8vmax;
    text-align: center;
  }

  .details_block1 > p {
    /* text-align: center; */
    font-size: 2vmax;
  }

  .details_block2 {
    justify-content: center;
  }

  .details_block2 > span {
    font-size: 1.5vmax;
  }

  .details_block3 > h1 {
    text-align: center;
  }

  .details_block3-1 {
    flex-direction: column;
  }

  .details_block3-1-1 {
    padding: 2vmax 0;
  }

  .details_block3-1-1 > Button {
    width: 4vmax;
  }
}
