.khaltiContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: rgb(255, 255, 255);
  height: 65vh;
  margin: 2vmax;
}
.khaltiForm {
  width: 40%;
  height: 100%;
}

.khaltiForm_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.paybutton {
  background-color: purple;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  padding: 20px;
  border-radius: 4px;
  font-size: 20px;
}
