:root {
  --background: rgb(200, 73, 73);
  --blueDark: #03a9f4;
  --white: #ffffff;
  --black: #000000;
  --white-shadow: 0px 0px 13px 5px rgb(173, 182, 255, 0.25);
  --maincolor: #e15a41;
  --colorText: #ffffff;
}
