.greenColor {
  color: green !important;
}

.redColor {
  color: red !important;
}

.productListContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(225, 225, 225);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.productListHeading {
  font: 400 2rem "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.637);
  transition: all 0.5s;
  margin: 2rem;
  text-align: center;
}

.productListTable {
  background-color: white;
  border: none !important;
}

.productListTable div {
  font: 300 1vmax "Roboto";
  /* color: rgba(0, 0, 0, 0.637); */
  border: none !important;
}

.productListTable svg {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
  margin: 10px;
}

.productListTable svg:hover {
  color: tomato;
}

/* .MuiDataGrid-columnHeader div {
    color: red;
  } */

/* @media screen {
      
  } */
