@import "../common/styles/variables.css";

.navHeader {
  display: flex;
  justify-content: space-between;
}

.userOptions {
  position: fixed;
  right: 30px;
  z-index: 1;
  top: -104px;
}

.navBurger {
  position: fixed;
  margin: 20px;
  font-size: 40px;
  z-index: 1;
}

.hideCross {
  display: block;
  z-index: 11;
}

.showCross {
  display: none;
}

/* Navbar CSS */
.navbar {
  position: fixed;
  z-index: 2;
  /* background-color: var(--maincolor); */
  background-color: white;
  height: 100vh;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  width: 100%;
  transition: 9000ms;

  display: none;
}

.navbar.active {
  top: 0%;
  display: flex;
  transition: 9000ms;
}

.right-navbar {
  width: 80%;
}

.right-navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right-navbar ul li a {
  text-decoration: none;
  /* color: var(--colorText); */
  color: black;
}

.burger {
  display: none;
}

.burger.active {
  color: wheat;
  display: none;
}

.cross {
  display: none;
}

.cross.active {
  display: block;
}

@media (max-width: 768px) {
  .right-navbar {
    /* display: none; */
    display: block;
  }

  .burger {
    display: block;
  }
}

.second_navbar {
  /* display: none; */
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  background-color: #353f54cf;
  right: -100%;
  transition: 900ms;
}

.second_navbar.active {
  /* display: block; */
  right: 0%;
  transition: 900ms;
}
