@import "../../common/styles/variables.css";
.header {
  margin: 50px auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 60px;
  border-bottom: 3px solid;
  color: var(--maincolor);
}
